doctype html
html
  title Code Editor
  meta(charset='utf-8')
  style.
    #demotext
    {
    margin-left:1%;
    margin-right:2%;
    width:44%;
    height:500px;
    }
    #output
    {
    margin-left:1%;
    margin-right:2%;
    width:44%;
    height:500px;
    float:right;
    }
    .submit
    {
    width:6%;
    margin-left:47%;
    margin-right: 47%;
    margin-top: 1%;
    }
  // <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  script(src='js/jquery.min.js')
  script(src='js/seed.js')
  body
    article
      section#demo
        textarea#demotext
        textarea#output
      button#submit.submit Submit!
    #hint-container
